${jsonencode({
    "all": {
        "hosts": { for current_machine, domain in generated_machines: domain.name => { ansible_user="${os_image_catalog["${project_machines["${current_machine}"].distro}"].ansible_user}"} }
    }
})}
