%{ for current_machine, domain in generated_machines ~}
Host ${current_machine}
    Hostname ${domain.name}
    User ${os_image_catalog["${project_machines["${current_machine}"].distro}"].ansible_user}
Host ${domain.name}
    User ${os_image_catalog["${project_machines["${current_machine}"].distro}"].ansible_user}
%{ endfor ~}
